#h1{
    text-align: center;
}
#input{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3rem;
}
#pass{
    margin-top: 1rem;
}
#b1{
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0.5rem;
}